
<div style="margin-left: 10%;">
 <div class="col-xl-7 col-lg-7" id="personaldetails">
  <div class="box_general_3 cart">

      <div class="form_title" style="padding-left: 1;">
          <h1 style="padding-top: 5%;">Book Appoinments</h1>
      </div>
      <br>
      <div class="step1">



          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">

                      <input type="text" class="form-control" id="exname" name="name" placeholder="Patient Name *" required>
                  </div>
              </div>

          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                      <input type="email" id="exmail" name="email" class="form-control" placeholder="Email">
                  </div>
              </div>

          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                      <input type="text" id="exage" name="exage" class="form-control" placeholder="Age" required>
                  </div>
              </div>
               </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">

                      <input name="mob" data-parsley-minlength="10" data-parsley-minlength-message="Mobile number should be 10 digits" data-parsley-type="digits" data-parsley-type-message="only numbers" class="form-control" id="exmob" placeholder="10 digits Mobile number * (to send OTP)"
                          required>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                      <label>Gender</label>&nbsp;&nbsp;
                      <label class="radio-inline"><input type="radio" id="exgender" value="male" name="exgender" data-parsley-errors-container="#checkbox-errors" required >&nbsp;&nbsp;Male</label>&nbsp;&nbsp;
                      <label class="radio-inline"><input type="radio" value="female"  name="exgender" id="exgender" >&nbsp;&nbsp;Female</label>
                      <div id="checkbox-errors"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">

                      <input type="text" name="address" class="form-control" id="exadd" placeholder="Address">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">

                      <textarea class="form-control" name="description" id="excom" placeholder="Reason for visit"></textarea>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                      <!-- <a id="goback" class="btn_1 medium pull-left">Back</a>&nbsp;&nbsp;<a class="btn_1 medium pull-right finishbtn">Confirm with OTP</a> -->
                      <a mat-raised-button color="primary" href="" target="_blank">Confirm with OTP</a>
                  </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-12 col-sm-12">

                  <p>
                      Mandatory Info | Information submitted will not be shared with any third party services. | Booknmeet verified mobile notifications valid only for India. For booking completion, please enter the OTP received on your given mobile number. Please do not use
                      +91 or 0 in the beginning of your 10 digit mobile number. Please click on CONFIRM with OTP button.
                  </p>
              </div>
          </div>

      </div>



  </div>
</div>
</div>





<div class="row add_bottom_15" id="content_3">

    <ul class="time_select">



        <li>
            <input type="radio" id="radio0" name="radio_time" value="09:00 AM-09:30 AM">
            <label id="lblradio0" for="radio0">09:00 AM-09:30 AM</label>
        </li>


        <li>
            <input type="radio" id="radio1" name="radio_time" value="09:30 AM-10:00 AM">
            <label id="lblradio1" for="radio1">09:30 AM-10:00 AM</label>
        </li>


        <li>
            <input type="radio" id="radio2" name="radio_time" value="10:00 AM-10:30 AM">
            <label id="lblradio2" for="radio2">10:00 AM-10:30 AM</label>
        </li>


        <li>
            <input type="radio" id="radio3" name="radio_time" value="10:30 AM-11:00 AM">
            <label id="lblradio3" for="radio3">10:30 AM-11:00 AM</label>
        </li>


        <li>
            <input type="radio" id="radio4" name="radio_time" value="11:00 AM-11:30 AM">
            <label id="lblradio4" for="radio4">11:00 AM-11:30 AM</label>
        </li>


        <li>
            <input type="radio" id="radio5" name="radio_time" value="11:30 AM-12:00 PM">
            <label id="lblradio5" for="radio5">11:30 AM-12:00 PM</label>
        </li>



    </ul>

</div>













